@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background-base: 0 0% 100%;
    --color-foreground-base: 240 10% 3.9%;

    --color-muted-base: 240 4.8% 95.9%;
    --color-muted-foreground-base: 240 3.8% 46.1%;

    --color-popover-base: 0 0% 100%;
    --color-popover-foreground-base: 240 10% 3.9%;

    --color-card-base: 0 0% 100%;
    --color-card-foreground-base: 240 10% 3.9%;

    --color-border-base: 240 5.9% 90%;
    --color-input-base: 240 5.9% 90%;

    --color-primary-base: 240 5.9% 10%;
    --color-primary-foreground-base: 0 0% 98%;

    --color-secondary-base: 240 4.8% 95.9%;
    --color-secondary-foreground-base: 240 5.9% 10%;

    --color-accent-base: 240 4.8% 95.9%;
    --color-accent-foreground-base: transparent;

    --color-destructive-base: 0 84.2% 60.2%;
    --color-destructive-foreground-base: 0 0% 98%;

    --color-ring-base: 240 5% 64.9%;

    --border-radius-base: 0.5
